@{
    ViewData["Title"] = "Home Page";
}

<div class="container mx-10 px-10">
    <h1 class="">Welcome</h1>
    <p class="" >Test text</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Наше дело не так однозначно, как может показаться: новая модель организационной деятельности требует определения и уточнения кластеризации усилий. Не следует, однако, забывать, что дальнейшее развитие различных форм деятельности способствует подготовке и реализации инновационных методов управления процессами. Являясь всего лишь частью общей картины, тщательные исследования конкурентов ограничены исключительно образом мышления.</p>
</div>

